@model Admin_Panel_ITI.ViewModels.HomePageViewModel
@using Microsoft.AspNetCore.Mvc

@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null; // or false
    
}



@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/styles.css">
    <script src="~/assets/js/bootstrap.bundle.js"></script>
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS (if not already included) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.5.0/dist/js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-body-tertiary slide-down">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">
                <img src="~/assets/images/iti-logo.png" alt="Logo" width="33" height="50" class="d-inline-block align-text-top">
                <div class="iti-hub-devider">
                    <span> Hub </span>
                </div>
            </a>
            <div>
                @*<form class="d-flex navbar-user-buttons">*@
                    <a asp-area="Identity" asp-page="/Account/AddUser" class="btn regbtn">Add User</a>
                    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link border-0 logoutbtn">Logout</button>
                    </form>
                </div>
            </div>
       @* </div>*@
    </nav>

    <!-- Core of main page -->

    <h1 class="welcome">Welcome Back @ViewData["FullName"] !</h1>
    <partial name="_DropDownPartial" />

    <partial name="_NumbersPartial" />

</body>
</html>
