@model Admin_Panel_ITI.ViewModels.HomePageViewModel


@{
    ViewData["Title"] = "Home Page";
}
@{
    Layout = null; // or false
    
}



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="assets/js/bootstrap.bundle.js"></script>
    <script src="assets/js/bootstrap.bundle.min.js"></script>
</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="light">
        <div class="container-fluid">
            <a class="navbar-brand" href="index.html" style="margin-left: 24px;">
                <img src="assets/images/iti-logo.png" alt="Logo" width="33" height="50" class="d-inline-block align-text-top">
            </a>
            <div class="navbarvr"></div>
            <span class="collapse navbar-collapse  navbar-brand">ITI-Hub</span>
            <div class="justify-content-end" id="navbarSupportedContent">
                <div class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-right: 20px;">
                    <a href="register/register.html" class="btn regbtn">Create new user</a>
                    <a href="register/login.html" class="btn" style="padding: 8px 42px 0 8px;">Logout</a>
                </div>
            </div>
        </div>
    </nav>

    <!-- Core of main page -->
    @{
        <h1 class="welcome">Welcome Back @ViewData["FullName"] !</h1>

    }
    <!-- 1st row (All Intakes Data + Intakes No.) -->
    <partial name="_NumbersPartial" />

    <script>
        $(document).ready(function () {
            $("#intakeDropdown").change(function () {
                var selectedIntakeId = $(this).val();
                $.ajax({
                    url: '@Url.Action("IntakesData", "Home")',
                    type: 'GET',
                    data: { intakeId: selectedIntakeId },
                    success: function (data) {
                        $("#numbersContainer").html(data);
                    }
                });
            });
        });
    </script>
</body>
</html>







@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    
    <div id="numbersContainer">
    <partial name="_NumbersPartial" model="@Model"> </partial>
    </div>

</div>*@
