@model Admin_Panel_ITI.Models.Intake

<div class="container-fluid col-md-6">
    <h3 style="margin-top: 32px;">Create New Intake</h3>

    <form id="myformcourse" asp-controller="Intake" asp-action="Create">

        <div class="input-group mb-3 input-group-lg" style="margin-top: 16px;">
            <span class="input-group-text" style="width: 170px; font-size: 20px;">Intake Name</span>
            <input asp-for="Name" class="form-control" aria-label="Sizing example input" placeholder="Enter intake name">
        </div>
        <div class="input-group mb-3 input-group-lg" style="margin-top: 16px;">
            <span class="input-group-text" style="width: 170px; font-size: 20px;">Start Date</span>
            <input asp-for="StartDate" class="form-control" aria-label="Sizing example input" placeholder="Enter start date">
        </div>
        <div class="input-group mb-3 input-group-lg" style="margin-top: 16px;">
            <span class="input-group-text" style="width: 170px; font-size: 20px;">End Date</span>
            <input asp-for="EndDate" class="form-control" aria-label="Sizing example input" placeholder="Enter end date">
        </div>
        <div class="input-group mb-3 input-group-lg" style="margin-top: 16px;">
            <span class="input-group-text" style="width: 170px; font-size: 20px;">Duration</span>
            <input asp-for="Duration" class="form-control" aria-label="Sizing example input" placeholder="Enter intake duration in months">
        </div>
        <div class="input-group mb-3 input-group-lg" style="margin-top: 16px;">
            <span class="input-group-text" style="width: 170px; font-size: 20px;">Creation Date</span>
            <input asp-for="CreationDate" class="form-control" aria-label="Sizing example input" placeholder="Enter course creation date">
        </div>
        

        <div class="form-group">
            <input type="submit" value="Create Intake" class="btn btn-primary" />
        </div>
    </form>
</div>



