@model IEnumerable<Admin_Panel_ITI.Models.Intake_Track_Course>


<div class="col-9 col-md-10 text-center content">
    <div class="container-fluid course-index">
        <div class="row">

            @*small screen*@
            <div class="small-screen">
                <h3 style="margin: 30px 0; text-align: center;">Courses' Table</h3>
            <div class="r1">
                <div style="display: flex; margin: auto;">
                <div class="dropdown" id="trackDropdown">
                    <button class="btn trackDropdown">
                        <!-- Added an ID to the button -->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                            <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
                        </svg>
                        Filter by tracks
                    </button>

                    <div class="dropdown-content" style="right: 10px; border-radius: 8px; overflow-y: auto; height: 150px;">
                        <a href="#" class="track-link" data-track-value="0">All Tracks</a>
                        @foreach (var track in ViewData["Tracks"] as SelectList)
                        {
                            <a href="#" class="track-link" data-track-value="@track.Value">@track.Text</a>
                            <hr style="padding: 0; margin: 0; color: gray;">
                        }
                    </div>
                </div>
                <div>
                    <button type="button" class="customdeletebtn_kordy btn logoutbtn deletebtn" style=" margin: 0 0 0 8px; ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                        </svg>
                        Delete
                    </button>
                    <a asp-controller="Course" asp-action="Create" class="btn btn-primary" style="margin-left: 8px;">+ Create Course</a>
                </div>
            </div>
            </div>
            </div>



            @*large screen*@
            <div class="large-screen">
                <div class="r1">
                    <h3>Courses' Table</h3>
                    <div class="course_div_01" style="display: flex;">
                        <div class="dropdown" id="trackDropdown">
                            <button class="btn trackDropdownBtn" >
                                <!-- Added an ID to the button -->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                                    <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
                                </svg>
                                Filter by tracks
                            </button>

                            <div class="dropdown-content" style="right: 10px; border-radius: 8px; overflow-y: auto; height: 150px;">
                                <a href="#" class="track-link" data-track-value="0">All Tracks</a>
                                @foreach (var track in ViewData["Tracks"] as SelectList)
                                {
                                    <a href="#" class="track-link" data-track-value="@track.Value">@track.Text</a>
                                    <hr style="padding: 0; margin: 0; color: gray;">
                                }
                            </div>
                        </div>
                        <div>
                            <button type="button" class=" customdeletebtn_kordy btn logoutbtn deletebtn" style=" margin: 0 0 0 8px; ">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16" style="margin: 0 4px 4px 0;">
                                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z"></path>
                                </svg>
                                Delete
                            </button>
                            <a asp-controller="Course" asp-action="Create" class="btn btn-primary" style="margin-left: 8px;">+ Create new course</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_TableDataPartialFilteredbyIntakes" />
    </div>

</div>