@model Admin_Panel_ITI.Models.Track


<div class="col-9 col-md-10 text-center content">

<div class="container-fluid create-track">
        <h3 style="margin: 30px 0;">Create New Track</h3>
    <form asp-action="Create">
        <div class="input-group mb-3 input-group-lg" style="margin-top: 16px;">
            <span class="input-group-text">Track name</span>
            <input asp-for="Name" class="form-control" aria-label="Sizing example input" placeholder="Enter track name">
        </div>
        <div class="input-group mb-3 input-group-lg" style="margin-top: 16px;">
            <span class="input-group-text">Creation Date</span>
            <input asp-for="CreationDate" class="form-control" aria-label="Sizing example input" placeholder="Enter track creation date">
        </div>
        <div class="input-group mb-3 input-group-lg" style="margin-top: 16px;">
            <span class="input-group-text">Manager Name</span>
            <select asp-for="ManagerID" asp-items="ViewBag.AllInstructors" class="form-control">
                <option value="">Select manager</option>
            </select>
        </div>
       
        <div class="form-group">
            <input type="submit" value="Create Track" class="btn btn-primary" />
        </div>
    </form>
</div>
</div>

